.rightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navIcons {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.navIcons>img,
.navIcons>a>img {
  width: 1.5rem;
  height: 1.5rem;
}

.right-btn {
  height: 3rem;
  width: 80%;
  align-self: center;
}